*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #25b489;
    padding: 20px;
    color: lawngreen;
    text-align: center;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 550px;
}
footer{
    background-color: #25b489;
    padding: 20px;
    color: lawngreen;
}
.center{
    text-align: center;
}